@use '../util/' as u;

.footer__wrap {
    background-color: var(--accent-color);
}

.footer {
    width: min(100% - 32px, 1000px);
    margin-inline:auto;
    margin-top: 30px;

    @include u.breakpoint-up(medium) {
        margin-top: 70px;
    }

    @include u.breakpoint-up(large) {
        margin-top: 100px;
    }

    &__tr {
        display: block;
        background-color: var(--bg-color);

        @include u.breakpoint-up(medium) {
            height: 2px;
            margin-top: 50px;
            margin-bottom: 36px;
        }

        @include u.breakpoint-up(large) {
            height: 4px;
        }
    }

    &__content {
        display: block;
    }

    &__invitation {
        padding-top: 35px;
        text-align: center;
        font-weight: 700;
        color: var(--text1);
        & p {
            margin-bottom: 0;
            font-size: var(--fs-16);
            font-size: clamp(1rem, 0.625rem + 1.6vw, 1.625rem);
        }
    }

    &__contactme {
        text-align: center;
        margin-inline: auto;

        & a {
            color: var(--text1);
            font-size: var(--fs-18);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            transition: color var(--transition-150ms);

            &:hover {
                color: var(--text-color-wh);
                
            }
        }

        & span {
            display: inline-block;  
            margin-top: 30px;
            padding-bottom: 15px;
            font-size: var(--fs-16);
            font-size: clamp(1rem, 0.625rem + 1.6vw, 1.625rem);
            border-bottom: 2px solid var(--text1);

            @include u.breakpoint-up (medium) {
                margin-top:  42px;
                border-bottom: 4px solid var(--text1);
            }

            @include u.breakpoint-up (large) {
                margin-top:  35px;
                border-bottom: 4px solid var(--text1);
            }
        }
    }  

    &__nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;

        @include u.breakpoint-up(medium) {
            flex-direction:unset;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
    }

    &__home {
        color: var(--text1);
        margin-bottom: 20px;
        margin-top:30px;
        cursor: pointer;

        
        @include u.breakpoint-up(medium) {
            margin-bottom: 0;
            margin-top:0;
        }
        & a{
            transition: all var(--transition-150ms);
        }
        & a:hover {
            & span {
                color: var(--text2);
            }
        }

        & h1 {
            font-size: var(--fs-24);
            font-size: clamp(1.5rem, 1.35rem + 0.64vw, 1.75rem);
            color: var(--text1);
            transition: color var(--transition-150ms);
            margin-bottom: 0;

        }
    }

    &__social {
        display: block;
        margin-bottom: 36px;

        &_links {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 25px;

            &_item {
                height: 24px;
                
                transition: all var(--transition-150ms);
    
                @include u.breakpoint-up(medium) {
                    justify-content: space-around;
                    padding-top: 4px;
                    width: 32px;
                    height: 32px;
                }
                
                & svg > path {
                    fill: var(--text1);
                    transition: fill var(--transition-150ms);
    
                    @include u.breakpoint-up(large) {
                        width: 32px;
                        height: 32px;
                    }
                }
    
                &:hover > svg > path {
                    fill: var(--text2);
                    @include u.breakpoint-up(medium) {
                        fill: var(--text2);
                    }
                }
            }
        }
    }
}