@use '../util/' as u;

.hero {
    display: block;
    

    &__wrapper {
        width: min(100% - 32px, 1000px);
        margin-inline: auto;

        @include u.breakpoint-up(medium) {
            width: min(100% - 32px, 1000px);
            display: flex;
            flex-wrap: nowrap;
            gap: 19px;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50%;
        width: 240px;
        height: 410px;
       

        @include u.breakpoint-up(medium) {
            position: relative;
            margin-top: -90px;
            left: 0%;
            translate: -16px;
            width: 260px;
            height: 443px;
        }

        @include u.breakpoint-up(large) {
            width: 342px;
            height: 584px;
        }


    }

    &__bio{
        width: min(100% - 32px, 1000px);
        margin-inline: auto;
        margin-top: 363px;
        line-height: 1.25;
        text-align: center;

        @include u.breakpoint-up(medium) {
            margin-top: 0;
            text-align: left;
        }

        @include u.breakpoint-up(large) {
            margin-top: 0;
        }

        & h1 {
            margin-bottom: 22px;
            line-height: 1.25;
        }
    }

    &__experience {
        width: min(100% - 32px, 1000px);
        margin-inline: auto;
        text-align: center;

        @include u.breakpoint-up(medium) {
            margin-top: 0;
            text-align: left;
            margin-left: 0;
        }

        & p, h2 {
            font-size: var(-fs-16);
            margin-bottom: 19px;
        }

        & h2 {
            color: var(--accent-color);
        }

    }

    &__contactme {
        

        & a {
            color: var(--color-grey);
            font-size: var(--fs-18);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            transition: color var(--transition-150ms);

            &:hover {
                color: var(--accent-color);
            }
        }

        & span {
            display: inline-block;  
            margin-top: 42px;
            padding-bottom: 15px;
            border-bottom: 4px solid var(--accent-color);

            @include u.breakpoint-up (medium) {
                margin-top:  42px;
            }

            @include u.breakpoint-up (large) {
                margin-top:  35px;
            }
        }


    }
}

   